
html
    head
        title= 'SP'
        link(rel='stylesheet', href='/static/css/style.css')
        link(rel='stylesheet', href='/static/css/bootstrap.min.css')
        link(rel='stylesheet', href='/static/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/static/css/react-bootstrap-table-all.min.css')

        link(rel="shortcut icon" href="/static/favicons/favicon.ico" type="image/x-icon")
        link(rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png")
        link(rel="manifest" href="/static/favicons/manifest.json")
        link(rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#5bbad5")
        
    body
        div(id='root')
        //- script(src='/static/js/react-bootstrap-table.min.js')
        script(src='/static/js/bundle.js')
    