#gridDrivers button,#gridCars button,{
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 6px 12px;
    border: 0;
    border-radius: 4px;
    border: 1px solid #c6cad3;
}

div.btnModalDriver > span,
div.btnModalCar > span{
    color: #fff;
    display: inline-block;
    margin: 2px 15px;
}
div.btnModalDriver > button,
div.btnModalCar > button{
    float: right;
    background: #455464;
    color: #fff;
    padding: 6px 7px;
}
div.btnModalDriver > span,
div.btnModalCar >{
    color: #fff;
}
#footerDriver > button,
#footerCar > button{
    float: right;
    margin-right: 15px;
    margin-top: 20px;
}
// убираем отступ самих модальных окон
body > div:nth-child(3) > div > div,
body > div:nth-child(4) > div > div{
    padding: 0 0 !important;
}
div.btnModalDriver,
div.btnModalCar{
    background: #455464;
    height: 30px;
}
.modalDriver,.modalCar{
    background-color: #f5f5f5;
    margin: 10px 0px;
}

.modalDriver span,.modalCar span{
    display: block;
}
.modalDriver input,.modalCar input,.modalDriver > select{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.modalDriver > div{
    width: 100%;
}
.modalDriver > select{
    width: 100%;
}
.modalDriver > div > button,.modalCar .dropdown > button{
    width: 100%;
    padding: 6px 12px;
}
.modalDriver > div > button > span,.modalCar .dropdown > button > span{
    display: inline-block;
}
.modalDriver button,.modalCar .dropdown > button{
    text-align: left;
}
.modalCar .dropdown {
    width: 100%;
}

.modalDriver > span > span, .modalCar > span > span{
    display: inline;
    color: red;
}
#btnDelDrivers,#btnDelCars{
    background-color: #ec971f;
    border-color: #d58512;
}
#gridCars > div.react-bs-table-container.col-lg-12.col-md-12 > div.react-bs-table.react-bs-table-bordered > div.react-bs-container-header.table-header-wrapper > table > thead > tr input,
#gridCars > div.react-bs-table-container.col-lg-12.col-md-12 > div.react-bs-table.react-bs-table-bordered > div.react-bs-container-header.table-header-wrapper > table > thead > tr select,
#gridDrivers > div.react-bs-table-container.col-lg-12.col-md-12 > div.react-bs-table.react-bs-table-bordered > div.react-bs-container-header.table-header-wrapper > table > thead > tr input{
    padding: 0 5px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #ebebe4;
}
// #gridDrivers > button.btn-success > i,
// #btnDelDrivers > i,
// #gridCars > button.btn-success > i,
// #btnDelCars > i {
//     padding: 5px 5px;
// }
#btnDelDrivers,#btnDelCars{
    margin-left: 5px !important;
}
#gridDrivers > button:nth-child(2),
#gridCars > button:nth-child(2){
    margin-left: 5px;
}

.dropdown-menu{
    max-height: 150px;
    overflow-y: scroll;
}
